<% extend('../main/main.ejs') %>
<div class="container mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-1 pl-2 pr-2">
          <li class="breadcrumb-item"><a href="/dashboard" style="color: #008CBA">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add content</li>
        </ol>
    </nav>
    <form action="/dashboard" method="post">
        <div class="form-group">
            <div class="row mb-3">           
                <div class="col-4">
                    <label for="product">Product</label>
                    <input type="text" name="product" id="product" class="form-control" required>
                </div>
                <div class="col-4">
                    <label for="category">Category</label>
                    <select id="category" name="category" class="form-control" required>
                        <option value="" disabled selected>Select a category</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="date">Date</label>
                    <input type="date" data-date-inline-picker="true" name="date" id="date" class="form-control" required>
                </div>    
            </div>
            <div class="row mb-3"  id="checkout">
                <div class="col-4">
                    <label for="price">Price</label>
                    <input type="number" name="price" id="price" step="any" class="form-control" required>
                </div>
                <div class="col-4">
                    <label for="quantity">Quantity</label>
                    <input type="number" name="quantity" id="quantity" min="1" class="form-control" required>
                </div>
                <div class="col-4">
                    <label for="subtotal">Subtotal</label>
                    <input type="number" name="subtotal" id="subtotal" step="any" class="form-control">
                </div>
            </div>
            <div class="row mb-3 justify-content-end">
                <div class="col-auto">
                    <a class="btn button-option" href="/dashboard">Cancel</a>
                    <button type="submit" class="btn button-option">Done</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $(document).on("keyup change", "#price", function() {
            var price = $('#price').val();
            var quantity = $('#quantity').val();
            var subtotal = price * quantity;
            $('#subtotal').val(subtotal);      
        });
        $(document).on("keyup change", "#quantity", function() {
            var price = $('#price').val();
            var quantity = $('#quantity').val();
            var subtotal = price * quantity;
            $('#subtotal').val(subtotal);      
        });
    });
    $(document).ready(function() {
        $("#date").datepicker({ dateFormat: 'dd-mm-yy' });
    }); 
    $(document).ready(function() {
        var categories = ["Food", "Medical & Healthcare", "Restaurant", "Utilities", "Transportation", "Housing", "etc"];
        // var selected = $("#category option").val();
        $.each(categories, function(index, value) {
            $("#category").append('<option value="' + value + '">' + value + '</option>');
        });
    })
</script>