<% extend('../main/main.ejs') %>
<div class="container mb-3">
    <h2 class="mb-3">Home</h2>
    <br>
    <p>This Enterprise Application Development project is planned to manage spends, providing pie chart in a group</p>
    <p>D17123466 Seungki Jeong</p><a href="https://github.com/D17123466/EnterpriseAppDev">Github</a>
</div>