<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- Javascript, jQuery, and Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel = "stylesheet" href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" >
        <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src=https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        
        <!-- Google icon and font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" >
        
    
        <!-- Public css and javascript -->
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/javascript.js"></script>
        <script src="/js/utils.js"></script>
        
        <title>Household</title>        
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
            <div class="container">
                <div class="navbar-brand mb-3" style="color: #008CBA;">
                    <span>Household</span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_content">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-3" id="navbar_content">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="/" class="nav-link"><i class="material-icons">home</i></a></li>
                        <li class="nav-item"><a href="/dashboard" class="nav-link" style="color: #008CBA;">Dashboard</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                    <% if(isAuthenticated) { %>
                        <li class="nav-item"><a href="/account/<%= account_current.username %>" class="nav-link" style="color: #008CBA;"><i class="material-icons">account_circle</i></a></li>
                        <li class="nav-item"><a href="/signout" class="nav-link" style="color: #008CBA;">Sign Out</a></li>                  
                    <% } else { %>
                        <li class="nav-item"><a href="/account/signup" class="nav-link" style="color: #008CBA;">Sign Up</a></li>
                        <li class="nav-item"><a href="/signin" class="nav-link" style="color: #008CBA;">Sign In</a></li>                  
                    <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <%- content %>
    </body>
</html>